DEEPSEEK_API_KEY=
BOT_TOKEN=
ALLOWED_USER_ID=8764211796
OPEN_BRAIN_URL=http://localhost:9876
REVIEW_API=http://localhost:3040
REDIS_URL=redis://localhost:6379
HUBSPOT_TOKEN=
MS365_CLIENT_ID=
MS365_CLIENT_SECRET=
MS365_REFRESH_TOKEN=
